<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ album }}</title>
</head>
<body>
<img src="{{ album.album_art }}">
<h3>{{ album.album_title }}</h3>
<h4>{{ album.artist }}</h4>

<h2>Songs</h2>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'music:favorite' album.id %}" method="post">
    {% csrf_token %}
    {% for song in album.song_set.all %}
        <input type="radio" id="{{ forloop.counter }}" name="song" value="{{ song.id }}"/>
        <label for="{{ forloop.counter }}">
            {{ song.song_title }}
            {% if song.is_favorite %}
                <img src="http://icons.iconarchive.com/icons/aha-soft/multimedia/16/favourites-star-SH-icon.png">
            {% endif %}
        </label><br>
    {% endfor %}

    <input type="submit" value="Favorite">
</form>

</body>
</html>